#header {
  background-color: #18191c;
}

#logo {
  height:50px;
}

#logo-link {
  padding: 0;
}

.nav-item-right {
  border: 1px solid red;
  border-radius: 25px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 1001px)  {
  #logo {
    margin-right: 100px;
  }
}