/*General*/

body {
	margin:0em;
	background-color:#393b45;
    overflow-x:hidden;
}

p, h1, h2, h3, h4, button {
	color:white;
}

section {
	background-color:#18191c;
}

button:hover {
	cursor:pointer;
}

/*Homepage*/
#News {
	position:relative;
	top:55px;
	left:30px;
	height:550px;
	width:420px;
}

#Misc {
	position:relative;
	top:-494px;
	left:600px;
	height:100px;
	width:600px;
}

#Twitter {
	position:relative;
	top:-450px;
	left:925px;
	height:400px;
	width:400px;
}

#Games {
	position:relative;
	top:-850px;
	left:500px;
	height:400px;
	width:400px;
}

/*Mobile[Tablet] Homepage*/

@media only screen and (max-width: 1000px)  {
#Misc {
	position:relative;
    width:100%;
	top:-170px;
	left:0px;
	height:100px;
}
    
#News {
    position: relative;
    top: 200px;
    left: 0px;
    height: 250px;
    width: 100%;
}

#Twitter {
	position:relative;
	top:130px;
	left:80px;
	height:100px;
	width:350px;
}

#Games {
	position:relative;
	top:30px;
	left:500px;
	height:400px;
	width:400px;
}
}
/*Games page*/
#Current {
	position:relative;
	top:55px;
	left:30px;
	height:550px;
	width:420px;
}